@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-pin {
  background: transparent !important;
  border: none !important;
}

.leaflet-popup-content {
  margin: 10px 12px !important;
  font-family: inherit !important;
}

.leaflet-popup-content-wrapper {
  border-radius: 12px !important;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15) !important;
}

.leaflet-container {
  font-family: inherit !important;
}
